* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    background: #e8e8e8;
}

.barra_navegacion{
    display: flex;
    justify-content: space-between;
    background-color: #07531a;
    color: white;
    padding: 1.3rem;
    flex-wrap: wrap;
}
.botones{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    width: 45%;
}
.enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #374b34;
    background-color: #ffd2a9;
    padding: 0.5rem;
    width: 17%;
    border-radius: 6px;
    transition: background-color, transform, color, 0.3s ease;
}

.enlaces:hover{
background-color: #3d7035;
color: #f0c399;
transform: scale(1.1);
}

.sobre_mi{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}
.sobre_mi img{
    border-radius: 50%;
    width: 10%;
    height: 100%;
}